@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow", sans-serif;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}
.wrapper .wrap {
  max-width: 1440px;
  height: 800px;
  background-image: url(../img/bcgimg.svg);
}
.wrapper .wrap header {
  max-width: 1110px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .wrap header .btn-text {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: center;
}
.wrapper .wrap header .btn-text button {
  color: #24303E;
  font-family: "Fraunces 9pt Soft";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 166.667% */
  letter-spacing: -0.107px;
  text-transform: uppercase;
  padding-left: 30px;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 28px;
}
.wrapper .wrap header .text {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.wrapper .wrap header .text p {
  color: #FFF;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 138.889% */
  letter-spacing: -0.129px;
}
.wrapper .wrap .wery {
  padding-top: 105px;
  color: #FFF;
  text-align: center;
  font-family: "Fraunces 9pt Soft";
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 8.75px;
  text-transform: uppercase;
}
.wrapper main {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrapper main .trans {
  max-width: 445px;
  margin: auto;
}
.wrapper main .trans h1 {
  font-family: Fraunces 9pt Soft;
  font-size: 40px;
  font-weight: 900;
  line-height: 49px;
  letter-spacing: -0.2857142985px;
  text-align: left;
}
.wrapper main .trans p {
  padding-top: 32px;
  color: #808397;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
  letter-spacing: -0.129px;
}
.wrapper main .trans .learn p {
  padding-top: 40px;
  color: #000000;
  font-size: 15px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px; /* 166.667% */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.wrapper main .avatar {
  padding-top: 160px;
  max-width: 1440px;
  margin: auto;
}
.wrapper main .avatar h1 {
  color: #A7AAAD;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 5px;
}
.wrapper main .avatar .client {
  padding-top: 81px;
  max-width: 1110px;
  margin: auto;
  display: flex;
}
.wrapper main .avatar .client .put {
  max-width: 350px;
  margin: auto;
  color: #5B636D;
  text-align: center;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 177.778% */
  letter-spacing: -0.129px;
}
.wrapper main .avatar .client .put p {
  color: #5B636D;
  text-align: center;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 177.778% */
  letter-spacing: -0.129px;
  padding-top: 58px;
}
.wrapper main .avatar .client .put h3 {
  padding-top: 69px;
  color: #24303E;
  text-align: center;
  font-family: "Fraunces 9pt Soft";
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.129px;
}
.wrapper main .img {
  padding-top: 178px;
  max-width: 1440px;
}
.wrapper main .img img {
  width: 350px;
}/*# sourceMappingURL=style.css.map */