@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow", sans-serif;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}
.wrapper .wrap {
  max-width: 1440px;
  height: 800px;
  background-image: url(../img/bcgimg.svg);
}
.wrapper .wrap header {
  max-width: 1110px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .wrap header .btn-text {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: center;
}
.wrapper .wrap header .btn-text .menu img {
  display: none;
}
.wrapper .wrap header .btn-text button {
  color: #24303E;
  font-family: "Fraunces 9pt Soft";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 166.667% */
  letter-spacing: -0.107px;
  text-transform: uppercase;
  padding-left: 30px;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 28px;
}
.wrapper .wrap header .text {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.wrapper .wrap header .text p {
  color: #FFF;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 138.889% */
  letter-spacing: -0.129px;
}
.wrapper .wrap .wery {
  padding-top: 105px;
  color: #FFF;
  text-align: center;
  font-family: "Fraunces 9pt Soft";
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 8.75px;
  text-transform: uppercase;
}
.wrapper main {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrapper main .mini-eye img {
  display: none;
}
.wrapper main .trans {
  max-width: 445px;
  margin: auto;
}
.wrapper main .trans h1 {
  font-family: Fraunces 9pt Soft;
  font-size: 40px;
  font-weight: 900;
  line-height: 49px;
  letter-spacing: -0.2857142985px;
  text-align: left;
}
.wrapper main .trans p {
  padding-top: 32px;
  color: #808397;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
  letter-spacing: -0.129px;
}
.wrapper main .trans .learn p {
  padding-top: 40px;
  color: #000000;
  font-size: 15px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px; /* 166.667% */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.wrapper main .avatar {
  padding-top: 160px;
  max-width: 1440px;
  margin: auto;
}
.wrapper main .avatar h1 {
  color: #A7AAAD;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 5px;
}
.wrapper main .avatar .client {
  padding-top: 81px;
  max-width: 1110px;
  margin: auto;
  display: flex;
}
.wrapper main .avatar .client .put {
  max-width: 350px;
  margin: auto;
  color: #5B636D;
  text-align: center;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 177.778% */
  letter-spacing: -0.129px;
}
.wrapper main .avatar .client .put p {
  color: #5B636D;
  text-align: center;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 177.778% */
  letter-spacing: -0.129px;
  padding-top: 58px;
}
.wrapper main .avatar .client .put h3 {
  padding-top: 69px;
  color: #24303E;
  text-align: center;
  font-family: "Fraunces 9pt Soft";
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.129px;
}
.wrapper main .img {
  padding-top: 178px;
  max-width: 1440px;
}
.wrapper main .img img {
  width: 350px;
}
.wrapper main .img .svg {
  display: none;
}
.wrapper footer {
  max-width: 1440px;
  height: 350px;
  background: #90D4C6;
  margin: auto;
}
.wrapper footer .emotsiya {
  max-width: 297px;
  margin: auto;
}
.wrapper footer .emotsiya img {
  padding-left: 60px;
  padding-top: 72px;
}
.wrapper footer .emotsiya .p {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  text-align: center;
  justify-content: center;
}
.wrapper footer .emotsiya .p p {
  padding-top: 40px;
  color: #458D7E;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 138.889% */
  letter-spacing: -0.129px;
}

@media (max-width: 720px) {
  .wrapper .wrap {
    max-width: 500px;
    margin: auto;
    background-image: url(/img/mini-bcg.svg);
    background-repeat: no-repeat;
  }
  .wrapper .wrap .btn-text button {
    display: none;
  }
  .wrapper .wrap .btn-text .menu img {
    display: inline-block;
  }
  .wrapper .wrap .btn-text .text p {
    display: none;
  }
  .wrapper main {
    max-width: 500px;
    margin: auto;
    transform: translateY(-150px);
  }
  .wrapper main .cherry {
    display: none;
  }
  .wrapper main .photo {
    display: none;
  }
  .wrapper main .mini-cherry img {
    display: inline-block;
  }
  .wrapper main .eye img {
    display: none;
  }
  .wrapper main .mini-eye img {
    display: inline-block;
  }
  .wrapper main .client {
    display: flex;
    flex-wrap: wrap;
  }
  .wrapper main .img img {
    display: none;
  }
  .wrapper main .img .svg {
    display: inline-block;
  }
  footer {
    transform: translateY(-300px);
  }
}/*# sourceMappingURL=style.css.map */