@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600;900&display=swap');
*{
    margin: 0;
    padding:0;

}
body{
    font-family: 'Barlow', sans-serif;
}
.wrapper{
    max-width: 1440px;
    margin: auto;
    .wrap{
        max-width: 1440px;
        height: 800px;
        background-image: url(../img/bcgimg.svg);
       header{
        .btn-text{
            display: flex;
            column-gap: 30px;
            align-items: center;
            .menu{
                img{
                    display: none;
                }
            }
            button{
                color: #24303E;
                font-family: "Fraunces 9pt Soft";
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: 25px; /* 166.667% */
                letter-spacing: -0.107px;
                text-transform: uppercase;
                padding-left: 30px;
                padding-top:15px;
                padding-right: 30px;
                padding-bottom: 15px;
                border:0;
                outline: 0;
                cursor: pointer;
                border-radius: 28px;
            }
        }
        .text{
            display: flex;
            column-gap: 40px;
            p{
                color: #FFF;
                font-family: Barlow;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 25px; /* 138.889% */
                letter-spacing: -0.129px; 
            }
        }
        max-width: 1110px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
       } 
       .wery{
        padding-top: 105px;
        color: #FFF;
text-align: center;
font-family: "Fraunces 9pt Soft";
font-size: 20px;
font-style: normal;
font-weight: 900;
line-height: normal;
letter-spacing: 8.75px;
text-transform: uppercase;

       }
    }
    main{
        .mini-eye{
            img{
                display: none;
            }
        }
      max-width: 1440px;
      display: flex;  
      flex-wrap: wrap;
      justify-content: space-between;
      .trans{
        max-width: 445px;
        margin: auto;
        h1{
            font-family: Fraunces 9pt Soft;
            font-size: 40px;
            font-weight: 900;
            line-height: 49px;
            letter-spacing: -0.2857142984867096px;
            text-align: left;
             
        }
        p{
            padding-top: 32px;
            color: #808397;
font-family: Barlow;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 166.667% */
letter-spacing: -0.129px;
        }
        .learn{
            p{
            padding-top: 40px;
            color: #000000;
            font-size: 15px;
            font-style: normal;
            font-weight: 900;
            line-height: 25px; /* 166.667% */
            letter-spacing: 1px;
            text-transform: uppercase; 
            }
        }
      }
      .avatar{
        padding-top: 160px;
        h1{
            color: #A7AAAD;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            letter-spacing: 5px;
        }
        max-width: 1440px;
        margin: auto;
        .client{
            padding-top: 81px;
            max-width: 1110px;
            margin: auto;
            display: flex;  
            .put{
                max-width: 350px;
                margin: auto;
                color: #5B636D;
                text-align: center;
                font-family: Barlow;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 32px; /* 177.778% */
                letter-spacing: -0.129px;
                p{
                    color: #5B636D;
                    text-align: center;
                    font-family: Barlow;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 32px; /* 177.778% */
                    letter-spacing: -0.129px;
                    padding-top: 58px; 
                }
                h3{
                    padding-top: 69px;
                    color: #24303E;
                    text-align: center;
                    font-family: "Fraunces 9pt Soft";
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: normal;
                    letter-spacing: -0.129px;  
                }
            }
        }
      }
      .img{
                    padding-top:178px;
                   max-width: 1440px;
                   img{
                    width: 350px;
                   }
                   .svg{
                    display: none;
                   }
                   
      }

    }
    footer{
        max-width: 1440px;
        height: 350px;
        background: #90D4C6;
        margin: auto;
        .emotsiya{
          max-width: 297px;
          margin: auto;
          img{
            padding-left: 60px;
            padding-top: 72px;
          }
          .p{
            display: flex;
            column-gap: 20px;
            text-align: center;
            justify-content: center;
            p{
                padding-top: 40px;
                color: #458D7E;
                font-family: Barlow;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 25px; /* 138.889% */
                letter-spacing: -0.129px;
            }
          }
        }
    }
}
@media(max-width:720px){
    .wrapper{
            // max-width: ;
        .wrap{
            max-width: 500px;
            margin: auto;
            background-image: url(/img/mini-bcg.svg);
            background-repeat: no-repeat;
            .btn-text{
                button{
                    display: none;
                }
                .menu{
                        img{
                            display: inline-block;
                        }
                }
                .text{
                   
                    p{
                        display: none;
                    }
                }
            }
        }
        main{
            max-width: 500px;
            margin: auto;
            transform: translateY(-150px);
            .cherry{
                
                    display: none;
            }
            .photo{
                display: none;
            }
            .mini-cherry{
                img{
                    display:inline-block;
                }
            }
            .eye{
                img{
                    display: none;
                }
            }
            .mini-eye{
                img{
                    display: inline-block;
                }
            }
            .client{
                display: flex;
                flex-wrap: wrap;
            }
            .img{
                img{
                    display: none;
                }
                .svg{
                        display: inline-block;  
                }
            }
           
        }
    }
    footer{
    transform: translateY(-300px);
     }
}