@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600;900&display=swap');
*{
    margin: 0;
    padding:0;

}
body{
    font-family: 'Barlow', sans-serif;
}
.wrapper{
    max-width: 1440px;
    margin: auto;
    .wrap{
        max-width: 1440px;
        height: 800px;
        background-image: url(../img/bcgimg.svg);
       header{
        .btn-text{
            display: flex;
            column-gap: 30px;
            align-items: center;
            button{
                color: #24303E;
                font-family: "Fraunces 9pt Soft";
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: 25px; /* 166.667% */
                letter-spacing: -0.107px;
                text-transform: uppercase;
                padding-left: 30px;
                padding-top:15px;
                padding-right: 30px;
                padding-bottom: 15px;
                border:0;
                outline: 0;
                cursor: pointer;
                border-radius: 28px;
            }
        }
        .text{
            display: flex;
            column-gap: 40px;
            p{
                color: #FFF;
                font-family: Barlow;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 25px; /* 138.889% */
                letter-spacing: -0.129px; 
            }
        }
        max-width: 1110px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
       } 
       .wery{
        padding-top: 105px;
        color: #FFF;
text-align: center;
font-family: "Fraunces 9pt Soft";
font-size: 20px;
font-style: normal;
font-weight: 900;
line-height: normal;
letter-spacing: 8.75px;
text-transform: uppercase;

       }
    }
    main{
        
    }
}